# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Android
android/app/build/
android/.gradle/
android/build/
android/gradle/
android/local.properties

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace/
ios/*.xcodeproj/

# Expo
.expo/
dist/
web-build/
